.contenedorGen{
    display:grid;
    grid-template-columns: 1fr 1fr;

    text-align: center;
    padding: 3% 20%;

    background-color: linear-gradient(180deg, rgba(128,128,128,1) 0%, rgba(84,84,84,1) 100%);;
    color: aliceblue;
    min-height: 80%;
    background-image: url("../images/97.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedorIzq{
    background-image: url("https://img.freepik.com/foto-gratis/foto-paisaje-joven-viajera_181624-39904.jpg");
    /* background-color: black; */
    border: 1px rgb(0, 0, 0) solid;
    padding-top: 0%;
    padding-bottom: 3%;
    margin-bottom: 70%;
  }
 .contenedorDer{
    background-color: #286078;
    border: 1px black solid;
    padding-top: 20%;
    padding-bottom: 10%;
    margin-bottom: 70%;
      }
.contenedorJson{
    opacity: 0.8;
    background-color: black;
    margin: 0% 0% 0%;
    padding: 2% 2% ;
    border: solid black 1px;
}