.containerPopOverProvincia {
    width: 200px;
    height: fit-content;
    background-color: #0005;
    position: absolute;
    z-index: 500;
    margin-left: 10vw;
    text-align: center;
    border-radius: 0 0 20px 20px;
}