*{
  margin: 0;
  padding: 0;
}
.slider {
  position: relative;
  /* max-height: 100vh; */
  width: 500px;
  margin-left: 25px;
}

@media(max-width: 580px){
  .slider{
    width: 350px;
  }
  .image{
    width: 350px;
  }
}

@media(max-width: 430px){
  .slider{
    width: 275px;
  }
  .image{
    width: 275px;
  }
}

.image {
  max-width: 500px;
  max-height: 400px;
  border-radius: 10px;
  display:flex;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 2rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  fill: #286078;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 2.5rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  fill: #286078;
  
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

#searchWidget{
  width: 300px;
  height: 450px;
}

@media(max-width: 900px){
  #searchWidget{
    width: 250px;
    height: 400px;
  }
}